<div class='contributor contributor--{{argument}}'>
    <div class='contributor__overview'>
        <img src={{image-src}} alt='Photograph of {{name}}' />
        <div class='contributor__summary'>
            <span class='opinion-topline'>
                <h2>{{name}}: {{opinionSummary}}</h2>
            </span>
            <span class='contributor__bio'>
                <h3>{{bio}}</h3>
            </span>
        </div>
    </div>
    <div class='contributor__opinion'>
        {{{opinion}}}
    </div>
</div>